<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5p3qUxPsqBhexnn-TP9dKDVXR9uVF0ss</string>
	<key>GCM_SENDER_ID</key>
	<string>994417666781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.humorfy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>humorfy-76a25</string>
	<key>STORAGE_BUCKET</key>
	<string>humorfy-76a25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994417666781:ios:06f5c51f07c00065e3c934</string>
</dict>
</plist>